:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: transparent;
    --hospital-green: #6daf76;
    --hospital-green-bold: #497950;
    --hospital-green-disabled: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(255, 255, 255);
}